# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual environments
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
*.sqlite3
local_settings.py

# Media and static
media/
staticfiles/

# Environment variables
.env
.env.*

# OS files
.DS_Store
Thumbs.db
